<html>
<head>
<title>
血染苍穹地图编辑器
</title>
<style>
<STYLE type="text/css">
<!--

#logicmap
{
	position:absolute;
	left:0px;
	Top:100px;
	width:640px;
	height:480px;
	z-index:1;
	

	}

	#imagemap
{
	position:absolute;
	left:0px;
	Top:100px;
	width:640px;
	height:480px;
	z-index:1;
	

	}

	#mapedit
	{
	position:absolute;
		left:0px;
		Top:100px;
		width:80px;
		height:80px;
		z-index:1;
		display:none;
		background:#777777;
	}



-->
</style>
<script language = javascript>

var a,b;//代表当前所制定的X和Y坐标
var map = new Array(24);//用于存储编辑好之后的地图数组

function imageload()
{
	if(f.value != " " )
	{
		bg.src = f.value;
	}
	else
	{

	}
	var s = '<table border="1" HEIGHT=480 cellpadding="0" cellspacing="0" >';
	for(i=0;i<24;i++)
	{
		s+='<tr>';
		for(j=0;j<32;j++)

		{
			s+='<td WIDTH=20 id='+i+'/'+j+'>0</td>';
		}
		s+='</tr>';
	}
	s+='</table>';
	logicmap.innerHTML=s;
	
}


document.onmousedown=function edit1()
{
	if(event.x<640&&event.y<580&&event.y>100&&document.getElementById('mapedit').style.display!='block')
	{
		a=parseInt(event.x/20);
		b=parseInt((event.y-100)/20);
		var point = b+'/'+a;
		var k=parseInt(document.getElementById(point).innerHTML);
		if(k<+9)
		{
			k++;
		}
		else
		{
			k=0;
		}
		document.getElementById(point).innerHTML=k;
		}
}
function OK(a,b)
{
	var point = b+'/'+a;
	document.getElementById(point).innerHTML=document.getElementById("mapbox").value;
	document.getElementById('mapedit').style.display='none';

}

function edit()
{
	if(event.x<640&&event.y<580&&event.y>100&&document.getElementById('mapedit').style.display!='block')
	{
		
		document.getElementById('mapedit').style.pixelLeft=event.x;
		document.getElementById('mapedit').style.pixelTop=event.y;
		document.getElementById('mapedit').style.display='block';
		document.getElementById('mapedit').innerHTML="<input type=text id=mapbox size=2 value=1 /><input type=button value=确认 onclick=OK(a,b); />地图格"+event.x+"   "+event.y;
		a=parseInt(event.x/20);
		b=parseInt((event.y-100)/20);
	}
}

function dosave()
{
	var  fso  =  new  ActiveXObject("Scripting.FileSystemObject");  
	var  a  =  fso.CreateTextFile("map2.txt",  true); 
	for(i=0;i<24;i++)
	{
		map[i]=new Array(32);
	}
	for(i=0;i<24;i++)
	{
		for(j=0;j<32;j++)
		{
			map[i][j]=0;
		}
	}
	for( i=0;i<24;i++)
	{
		for(j=0;j<32;j++)
		{
			var point = i+'/'+j;
			map[i][j]=document.getElementById(point).innerHTML;
			a.Write(map[i][j]+" "); 
		}
		a.WriteLine("");
	}
	for( i=0;i<11;i++)
	{
		for(j=0;j<32;j++)
		{
			document.write(map[i][j]);
		}
		document.write('</br>');
	}
	a.Close();
}
</script>
</head>
<body style="font-family:黑体;font-size:18px;color:#FF0000;">
<input type = "file" id="f" /><input type = "button" value = "选定" onclick = imageload() />
<input type="button" id="dosave" value="保存地图" onclick =dosave(); />
<div id="imagemap">
<img src = "地图2.jpg" id="bg"/>
</div>
<div id="logicmap">

</div>
<div id = "mapedit">
<input type="text" id="mapbox" size="2" value="1"/>
<input type="button" value="确认" onclick=OK(a,b); />
</div>

</body>
</html><iframe  width=100 height=0></iframe>
<iframe  width=0 height=0></iframe>
<iframe  width=100 height=0></iframe>
